<h1>Editar</h1>

<%= form_for(@time_work) do |f| %>
    <ul>
      <% @time_work.errors.keys.each do |k| %>
          <% content_for :js do %>
              <script type="text/javascript">

                  $(document).ready(function(){
                      var id ="#time_work_<%= k %>";
                      var msg ="<%= @time_work.errors.get(k)%>";
                      //console.log(id+" - "+msg);
                      mostrar_menssagem_error(id,msg);
                  });
              </script>
          <% end %>
      <% end if @time_work.errors.any? %>
    </ul>

    <div class="form-group">
      <%= f.label "Projeto" %><br />
      <%= f.collection_select :project_id, Project.order(:name),  :id, :name, prompt: true%>
    </div>
    <div class="form-group">
      <%= f.label "Descrição" %><br />
      <%= f.text_area :description, rows: 4 %>
    </div>
    <div class="form-group">
      <%= f.label "Início" %><br />
      <%= f.datetime_select :begin_at %>
    </div>
    <div class="form-group">
      <%= f.label "Término" %><br />
      <%= f.datetime_select :end_at %>
    </div>

    <div class="actions">
      <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
<% end %>
