<%= form_for @user, :html => {:class => "form-form"} do |f| %>
    <ul>
      <% @user.errors.keys.each do |k| %>
          <% content_for :js do %>
              <script type="text/javascript">

                  $(document).ready(function(){
                      var id ="#user_<%= k %>";
                      var msg ="<%= @user.errors.get(k)%>";
                      //console.log(id+" - "+msg);
                      mostrar_menssagem_error(id,msg);
                  });
              </script>
          <% end %>
      <% end if @user.errors.any? %>
    </ul>

    <div class="form-group">
        <%= f.label :Nome %><br />
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label 'E-mail' %><br />
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <% if @user.id.nil?%>
        <%= render :partial => "inputs_new", :locals => {:f => f} %>
    <% else %>
        <%= render :partial => "inputs_edit", :locals => {:f => f} %>
    <% end %>

  <div class="actions">
    <button class="btn btn-primary" type="submit">Salvar</button>
  </div>
<% end %>

<%= content_for :js do %>
    <script type="text/javascript">

        var check_passwords = jQuery('.check-passwords');
        var div_passwords = jQuery('.div-passwords');

        check_passwords.on('click', function(){
            div_passwords.toggleClass('hidden');
        });
    </script>
<% end %>