<div class="form-group">
  <%= f.label 'Login' %><br />
  <%= f.text_field :login, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label 'Senha' %><br />
  <%= f.password_field :password, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label 'Confirmação de senha' %><br />
  <%= f.password_field :password_confirmation, class: "form-control" %>
</div>