
<div class="form-group">
  <%= f.label :login %><br />
  <label class="form-control" disabled="desabled"><%= @user.login %></label>
</div>

<div class="form-group">
  <input type="checkbox" class="check-passwords" />
  <%= f.label 'Alterar senha' %>
</div>

<div class="form-group div-passwords hidden">
  <%= f.label 'Senha' %><br />
  <%= f.password_field :password, class: "form-control" %>
</div>

<div class="form-group div-passwords hidden">
  <%= f.label 'Confirmação de senha' %><br />
  <%= f.password_field :password_confirmation, class: "form-control" %>
</div>