<%= form_for @project, :html => {:class => "form-form"} do |f| %>
    <ul>
      <% @project.errors.keys.each do |k| %>
          <% content_for :js do %>
              <script type="text/javascript">

                  $(document).ready(function(){
                      var id ="#project_<%= k %>";
                      var msg ="<%= @project.errors.get(k)%>";
                      //console.log(id+" - "+msg);
                      mostrar_menssagem_error(id,msg);
                  });
              </script>
          <% end %>
      <% end if @project.errors.any? %>
    </ul>


  <div class="form-group">
    <%= f.label :Nome %><br />
    <%= f.text_field :name, class: "form-control", placeholder: "Nome do projeto" %>
  </div>

  <div class="actions">
    <button class="btn btn-primary" type="submit">Salvar</button>
  </div>
<% end %>
